.cont{
    display: flex;
    align-items: center;
}

.pk{
    color: palevioletred;
}

.bkpk{
    background-color: palevioletred;
    width: 4px;
    height: 35px;
}

.minuspadding{
    margin-top: -150px !important;
}

.hndrd{
    height: max-content;
}
@media (max-width:650px){
	.first-step{
		flex-direction:column ;
	}
}

@media (max-width:400px){
	.why{
		margin-left: 0 ;
	}

}
.brand-text{
	font-size: 0.7rem;
}
.first-step{
	display: flex;
}
.why{
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}