<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
        content="Crypto ICO is a responsive modern &amp; clean cryptocurrency website landing page html with admin dashboard template , specially created for ICO Startup agencies and digital crypto currency investment website.">
    <meta name="keywords"
        content="crypto, ico, cryptocurrency, bitcoin, landing, admin, dashboard, template, modern, clean, responsive">
    <meta name="author" content="PIXINVENT">
    <title>Paramount Global Ltd.</title>
    <link rel="apple-touch-icon" href="{% static 'theme-assets/images/ico/apple-icon-120.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'theme-assets/images/ico/favicon.ico' %}">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700" rel="stylesheet">
    <!--Font icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-digimedia-v3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/fonts/themify/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/fonts/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/vendors/animate/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/vendors/flipclock/flipclock.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/vendors/swiper/css/swiper.min.css' %}">
    <!-- END VENDOR CSS-->
    <!-- END CRYPTO CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/template-3d-animation.css' %}">
    
    <script src="https://kit.fontawesome.com/1d21464267.js" crossorigin="anonymous"></script>
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="{%static 'theme-assets/css/template-counter.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'theme-assets/css/template-3d-graphics.css'%}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'theme-assets/css/template-intro-video.css'%}">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END Custom CSS-->
    <style>.floating { 
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }
     
    @keyframes up-down {
        0% { transform: translateY(10px); }
        100%   { transform: translateY(-10px); }   
    }</style>
</head>
  <body class=" 1-column   page-animated template-intro-video-default template-intro-video" data-menu-open="hover" data-menu="">
    <!-- Preloader | Comment below code if you don't want preloader-->
<div id="loader-wrapper">
    <svg viewbox=" 0 0 512 512" id="loader">
        <linearGradient id="loaderLinearColors" x1="0" y1="0" x2="1" y2="1">
            <stop offset="5%" stop-color="#28bcfd"></stop>
            <stop offset="100%" stop-color="#1d78ff"></stop>
        </linearGradient>        
        <g>
            <circle cx="256" cy="256" r="150" fill="none" stroke="url(#loaderLinearColors)" />
        </g>
        <g>
            <circle cx="256" cy="256" r="125" fill="none" stroke="url(#loaderLinearColors)" />
        </g>
        <g>
            <circle cx="256" cy="256" r="100" fill="none" stroke="url(#loaderLinearColors)" />
        </g>
        <g>
            <circle cx="256" cy="256" r="75" fill="none" stroke="url(#loaderLinearColors)" />
        </g>
        <circle cx="256" cy="256" r="60" fill="url(#loaderImage)" stroke="none" stroke-width="0" />

        <!-- Change the preloader logo here -->
        <defs>
            <pattern id="loaderImage" height="100%" width="100%" patternContentUnits="objectBoundingBox">
           </pattern>
        </defs>
    </svg>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!--/ Preloader --><nav class="vertical-social">
    <ul>
        <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
        <li><a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    </ul>
</nav>
    <!-- Header Start-->
    <header class="page-header">
        <!-- Horizontal Menu Start-->
        <nav class="main-menu static-top navbar-dark navbar navbar-expand-lg fixed-top mb-1">
            <div class="container">
                 <a class="navbar-brand animated" data-animation="fadeInDown" data-animation-delay="1s"
                    href="/"><img src="{% static 'img/logo2.png' %}" style="height:50px" alt="Crypto Logo" /><span
                        class="brand-text">
                        <span class="font-weight-bold">PARAMOUNT</span> GLOBAL</span>
                    </a> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div id="navigation" class="navbar-nav ml-auto">
                        <ul class="navbar-nav mt-1">
                            <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.1s">
                                <a class="nav-link" href={% url 'about' %}>About Us</a>
                            </li>
                            <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.1s">
                                <a class="nav-link" href={% url 'product' %}>Products</a>
                            </li>
                            <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.1s">
                                <a class="nav-link" href={% url 'trading' %}>Trading</a>
                            </li>
                            <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.1s">
                                <a class="nav-link" href={% url 'education' %}>Education</a>
                            </li>
                           
                        </ul>
                        <span id="slide-line"></span>
                        <form class="form-inline mt-2 mt-md-0">
                            <a class="btn btn-sm btn-gradient-purple btn-glow my-2 my-sm-0 animated"
                                data-animation="fadeInDown" data-animation-delay="1.8s"
                                href="https://my.pglfx.com"
                                target="_blank">Sign in</a>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <!-- /Horizontal Menu End-->
    </header>
    {% block content %}{% endblock content %}
    </body>
    
    {% include 'footer.html' %}


    <script src="{% static 'theme-assets/vendors/vendors.min.js' %}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{% static 'theme-assets/vendors/flipclock/flipclock.min.js' %}"></script>
    <script src="{% static 'theme-assets/vendors/swiper/js/swiper.min.js' %}"></script>
    <script src="{% static 'theme-assets/vendors/particles.min.js' %}"></script>
    <script src="{% static 'theme-assets/vendors/waypoints/jquery.waypoints.min.js' %}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME JS-->
    <script src="{% static 'theme-assets/js/theme.js' %}"></script>
    <!-- <script src="{% static 'theme-assets/js/sales-notification.js' %}"></script> -->
    <!-- END CRYPTO JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="{% static 'theme-assets/js/scripts/particles-type1.js' %}"></script>
   
    <script src="https://kit.fontawesome.com/1d21464267.js" crossorigin="anonymous"></script>
    
</html>