<html>
<head>
<title>Ajax</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <input type="text" id="first" name="first">
    <input type="text" id="second" name="second"><br><br>
    <button type="button" onclick="get()">Get value</button>
    <p id="abc"></p>
    <script>
        function get(){
            var first = document.getElementById("first").value;
            var second = document.getElementById("second").value;
            console.log(first);
            $.ajax({
            url: "hello/",
            type: "get", 
            data: { 
                first: first, 
                second: second
            },
            success: function(data) {
                document.getElementById('abc').innerHTML=data;
            },
            error: function(xhr) {
                document.getElementById('abc').innerHTML="Error";
            }
            });
    }
    </script>
</body>
</html>